
<!-- 
* !!!! Read Comments
* Change any (Text Here)
* In  "Our Story" Section You will need to "app.js file"
--><!DOCTYPE html>
<html lang="en">
  <head>
    <!--Required For Site-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vanilla - Site</title>
    <!-- Font For Site-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300&amp;display=swap" rel="stylesheet">
    <!-- Css Files-->
    <link rel="stylesheet" href="../css/lib/bootstrap.css">
    <link rel="stylesheet" href="../css/lib/all.min.css">
    <link rel="stylesheet" href="../css/lib/fullpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <!-- Content-->
    <div id="fullpage">
      <!-- Intro Section-->
      <section class="section intro">
        <!-- Overflow bg-->
        <div class="overflow-linear"></div>
        <!-- Content-->
        <div class="catch-content text-center text-white">
          <!-- Title-->
          <h1 class="title mb-1 p-0">VANILLA</h1>
          <!-- Paragragh Intro-->
          <p class="lead mb-2"><strong class="text-warning">Bootstrap</strong> v4.2.1 Theme</p>
          <!-- Btn For Intro--><a class="btn btn-warning pb-1 pt-1 pl-3 pr-3 text-white">DISCOVER MORE</a>
        </div>
      </section>
      <!-- Services Section-->
      <section class="section services">
        <!-- Overflow-->
        <div class="overflow-linear"></div>
        <!-- Content-->
        <div class="container-fluid container-lg">
          <div class="catch-content text-white">
            <div class="row">
              <!-- Fisrt Side-->
              <div class="col-sm-5"> 
                <!-- Content-->
                <div class="first-side p-1 mb-sm-0 mb-4 text-center text-sm-left">
                  <!-- Title-->
                  <h4 class="text-white mb-3">More About Vanilla</h4>
                  <!-- Paragraph !!!!!!!!!!!!!!! (1-) Text here, Dont increase above 5 lines-->
                  <p class="lead text-white mb-3">
                  Vanilla is an online store that offers many unique and valuable product, It is one of the most famous Saudi websites interested in fashion and fashion.
                  </p>
                  <!-- List of Caracht-->
                  <ul class="list-unstyled mb-3">
                    <!-- (2-) Text here is Category or characteristics -->
                    <li class="carachtaristics mb-3">- It makes marketing easy for you wherever you are</li>
                    <!-- (2-) Text here is Category or characteristics -->
                    <li class="carachtaristics mb-3">- It saves a lot of time and effort</li>
                    <!-- (2-) Text here is Category or characteristics -->
                    <li class="carachtaristics mb-3">- It offers a lot of offers</li>
                    <!-- (2-) Text here is Category or characteristics -->
                    <li class="carachtaristics mb-3">- Products are valuable and brande</li>
                    <!-- (2-) Text here is Category or characteristics -->
                    <li class="carachtaristics mb-3">- Vanilla is characterized by many features that made it at the top of the list of Saudi electronic stores</li>
                    <!-- (2-) Text here is Category or characteristics -->
                    <li class="carachtaristics">- Service delivery in the fastest time</li>
                  </ul>
                  <!-- Button--><a class="btn btn-warning pl-3 pr-3 text-white">LEARN MORE ABOUT US</a>
                </div>
              </div>
              <!-- Second Side-->
              <div class="col-sm-7">
                <div class="second-side p-1 text-center">
                  <div class="row">
                    <!-- First-->
                    <div class="col-md-6">
                      <div class="box-ideas p-3 mb-2">
                        <h5 class="pb-2 title-box mb-2">Classic Modern Design</h5>
                        <!-- (3-) Text here is Paragraph-->
                        <p class="lead content mb-0">
                        The world is resorting to the field of graphics and web design in a large way to express their idea or product in an easy and smooth way  for that vanilla designed this website  save them a lot of time and effort .
                        </p>
                      </div>
                    </div>
                    <!-- Second-->
                    <div class="col-md-6">
                      <div class="box-ideas p-3 mb-2">
                        <h5 class="pb-2 title-box mb-2">Unique & Creative Ideas</h5>
                        <!-- (3-) Text here is Paragraph-->
                        <p class="lead content mb-0">
                        Vanilla store loves innovation and diversity in ideas and show all that is rare and valuable, because it sees you as a special customer.
                        </p>
                      </div>
                    </div>
                    <!-- Third-->
                    <div class="col-md-6">
                      <div class="box-ideas p-3 mb-2">
                        <h5 class="pb-2 title-box mb-2">Effective Team Work</h5>
                        <!-- (3-) Text here is Paragraph-->
                        <p class="lead content mb-0">
                        One of the most important factors that distinguish Vanilla store is that it has an excellent and helpful staff, as it provides a complete service.
                        </p>
                      </div>
                    </div>
                    <!-- Fourth-->
                    <div class="col-md-6">
                      <div class="box-ideas p-3 mb-2">
                        <h5 class="pb-2 title-box mb-2">Fast Support</h5>
                        <!-- (3-) Text here is Paragraph-->
                        <p class="lead content mb-0">
                        Vanilla store provides full technical support as it provides 24-hour customer service and provides many offers and discounts on some products.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Portfolio Section-->
      <section class="section portfolio">
        <div class="overflow-linear"></div>
        <div class="container-fluid container-md">
          <div class="catch-content">
            <!-- Swiper-->
            <div class="swiper-container">
              <!-- Additional required wrapper-->
              <div class="swiper-wrapper">
                <!-- Slides-->
                <!-- Slide 1-->
                <div class="swiper-slide">
                  <!-- Card-->
                  <div class="card rounded-2 border-0"><img class="card-img-top" src="../public/Services/watch.jpg" alt="Smart Watch"/>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-1">Smart Watch</h5>
                      <p class="card-textThis mb-0 text-warning text-center">$45.00</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <!-- Card-->
                  <div class="card rounded-2 border-0"><img class="card-img-top" src="../public/Services/clock.jpg" alt="Wall Clock"/>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-1">Wall Clock</h5>
                      <p class="card-textThis mb-0 text-warning text-center">$30.00</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <!-- Card-->
                  <div class="card rounded-2 border-0"><img class="card-img-top" src="../public/Services/bag.jpg" alt="Work Hand Bag"/>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-1">Work Hand Bag</h5>
                      <p class="card-textThis mb-0 text-warning text-center">$36.00</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <!-- Card-->
                  <div class="card rounded-2 border-0"><img class="card-img-top" src="../public/Services/food.jpg" alt="Fast Food"/>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-1">Fast Food</h5>
                      <p class="card-textThis mb-0 text-warning text-center">$10.00</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <!-- Card-->
                  <div class="card rounded-2 border-0"><img class="card-img-top" src="../public/Services/ball.jpg" alt="Basketball"/>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-1">Basketball</h5>
                      <p class="card-textThis mb-0 text-warning text-center">$23.00</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <!-- Card-->
                  <div class="card rounded-2 border-0"><img class="card-img-top" src="../public/Services/camera.jpg" alt="Antique Decoration Photo"/>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-1">Antique Decoration Photo</h5>
                      <p class="card-textThis mb-0 text-warning text-center">$27.00</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <!-- Card-->
                  <div class="card rounded-2 border-0"><img class="card-img-top" src="../public/Services/headphone.jpg" alt="Level Headphone"/>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-1">Level Headphone</h5>
                      <p class="card-textThis mb-0 text-warning text-center">$55.00</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <!-- Card-->
                  <div class="card rounded-2 border-0"><img class="card-img-top" src="../public/Services/car.jpg" alt="BMW Car"/>
                    <div class="card-body p-2">
                      <h5 class="card-title text-center mb-1">BMW Car</h5>
                      <p class="card-textThis mb-0 text-warning text-center">$5200.00</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- Our Story Section-->
      <section class="section ourstory">
        <!-- OverFlow Background-->
        <div class="overflow-linear"></div>
        <!-- Content-->
        <div class="container-fluid">
          <div class="catch-content">
            <!-- Card Presention-->
            <div class="presentation"><img class="img-present" src="../public/Our Story/1.jpg" width="100%" height="300px">
              <div class="paragraph-present p-3">
                <!-- !!!!! Text Here is Paragraph. But
                To add another content for this paragraph
                - must go to app.js File
                - you will find a (ourStoryJson) object and content within it.
                - and you will find (Text here) , change it
                -->
                <p class="present-text mb-0 text-white text-center">
                Vanilla, affiliated to Bahr E-Commerce Company, is one of the most famous Saudi websites interested in fashion and fashion, supervised by a distinguished team of specialized Saudi youth who travel around the world in search of the best products and international brands.
                </p>
              </div>
            </div>
            <!-- Buttons For Presentation-->
            <div class="buttons-content mt-4 text-center">
              <button class="btn btn-outline-light mb-2 mb-sm-0 mr-2 active" data-presentDates="2008-2014">2008-2014</button>
              <button class="btn btn-outline-light mb-2 mb-sm-0 mr-2" data-presentDates="2014-2016">2014-2016</button>
              <button class="btn btn-outline-light mb-2 mb-sm-0 mr-2" data-presentDates="2016-2019">2016-2019</button>
              <button class="btn btn-outline-light" data-presentDates="2019-Now">2019-Now</button>
            </div>
          </div>
        </div>
      </section>
      <!-- Contact Us Section-->
      <section class="section contactus">
        <!-- OverFlow Background-->
        <div class="overflow-linear"></div>
        <!-- Content-->
        <div class="container">
          <div class="catch-content">
            <!-- Contact US -->
            <div class="row">   
              <!-- First side-->
              <div class="col-sm-6">
                <!-- Form-->
                <div class="outer-box-form pt-4 pb-4 pr-2 pl-2 mb-2 mb-sm-0">
                  <form class="form-self">
                    <!-- Name-->
                    <div class="form-group">
                      <input class="form-control" type="text" name="username" placeholder="Your Name..">
                    </div>
                    <!-- Email-->
                    <div class="form-group">
                      <input class="form-control" type="email" name="email" placeholder="Your Email..">
                    </div>
                    <!-- Message-->
                    <div class="form-group">
                      <textarea class="form-control" name="message" placeholder="Your Message.."></textarea>
                    </div>
                    <!-- Button--><button type="submit" class="btn btn-block btn-warning text-white">Send Message</button>
                  </form>
                </div>
              </div>
              <!-- Socend Side-->
              <div class="col-sm-6">
                <!-- Map-->
                <div class="outer-box-map pt-4 pb-4 pr-2 pl-2"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3431.75140262527!2d30.068591715423043!3d30.669128095745663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145f555c8c21d4e9%3A0xa7b0e83fcd45b5ce!2z2K3Yp9iz2KjYp9iqINmI2YXYudmE2YjZhdin2Kog2KfZhNmG2YjYqNin2LHZitmH!5e0!3m2!1sen!2seg!4v1602954767722!5m2!1sen!2seg" width="100%" height="270" frameborder="0" style="border:0;margin:auto" aria-hidden="false" tabindex="0"></iframe></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer-->
    <footer class="footer pt-5 pb-3 bg-dark">
      <div class="container">
        <div class="outer-box text-center">
          <!-- Button to top-->
          <button class="back-to-top btn btn-warning text-white p-2 pr-3 pl-3 mb-4">Back To Top</button>
          <!-- Social Icons-->
          <div class="socials mb-3"><a class="mr-2 text-center" href="#"><i class="fab fa-facebook-f text-dark"></i></a><a class="mr-2 text-center" href="#"><i class="fab fa-twitter text-dark"></i></a><a class="mr-2 text-center" href="#"><i class="fab fa-invision text-dark"></i></a><a class="mr-2 text-center" href="#"><i class="fab fa-google text-dark"></i></a><a class=" text-center" href="#"><i class="fas fa-basketball-ball text-dark"></i></a></div>
          <!-- Rights And Designers-->
          <p class="text-white mb-0">Copyright &copy; 2020 (Company Name) - Design: <strong class="text-warning">Work Team</strong></p>
        </div>
      </div>
    </footer>
    <!-- Scripts JS & Plugins-->
    <script src="../js/lib/jquery-3.5.1.min.js"></script>
    <script src="../js/lib/bootstrap.min.js"></script>
    <script src="../js/lib/fullpage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
